.calculator{
    height: 325px;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(4,25%); /* Alinha o grid em 4 colunas, divide o tamanho total do espaço para os 4*/
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}